{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .no-underline {
        text-decoration: none; /* Вимкнути підкреслення */
    }
</style>

    <div class="example-wrapper">


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">My posts</th>
                <th scope="col">Date</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row"><a class="no-underline" href="{{ url('post_show', {'id': post.id}) }}">{{ post.id }}</a></th>
                    <td>{{ post.text|raw }}</td>
                    <td>{{ post.getCreatedAt|date('Y-m-d H:i:s') }}</td>
                    <td><a class="no-underline" href="{{ url('edit_post', {'id': post.id}) }}">Edit post</a></td>
                    <td><a class="no-underline" href="{{ url('delete_post', {'id': post.id}) }}">Delete post</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
